<header class="header_area">
    <div class="main_menu">
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
    
    <a class="navbar-brand logo_h" href="index.html"><img src="" alt></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    
    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
    <ul class="nav navbar-nav menu_nav ml-auto">
    <li class="nav-item active"><a class="nav-link" href="" routerLink="">Home</a></li>
    <li class="nav-item"><a class="nav-link" href=""   routerLink="aboutpage" >About</a></li>
    <li class="nav-item"><a class="nav-link" href=" " routerLink="servicepage">Services</a>
    
    <li class="nav-item submenu dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
    <ul class="dropdown-menu">
    <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
    <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
    </ul>
    </li>
    <li class="nav-item"><a class="nav-link" href=" " routerLink="contactpage">Contact</a></li>
    </ul>
    </div>
    </div>
    </nav>
    </div>
    </div>
    </header>







<section class="causes_area">
  <div class="container">
  <div class="main_title">
  <h2>Our Services</h2>
  <p>Elevate your business experience with the latest information Technology that ensures seamless integration, innovation and realiablity</p>
  </div>
  <div class="row">
  <div class="col-lg-4 col-md-6">
  <div class="single_causes">
  <h4>Graphic Designs</h4>
  <img src="https://img.freepik.com/free-vector/design-elements-background_23-2147741144.jpg?size=338&ext=jpg&ga=GA1.1.1141335507.1719100800&semt=ais_user" alt>
  <p>
  My tatic to each Graphic Designing project is to always provide extraordinary results for my clients.
  </p>
  </div>
  </div>
  <div class="col-lg-4 col-md-6">
  <div class="single_causes">
  <h4>Digital Marketing Services</h4>
  <img src="https://img.freepik.com/free-vector/hand-drawn-marketing-agency-logo_23-2150546812.jpg?size=338&ext=jpg&ga=GA1.1.1141335507.1717718400&semt=ais_user" alt>
  <p>
      SEO, SMO, Google, FB, Instagram Advertisements and much more….
  </p>
  </div>
  </div>
  <div class="col-lg-4 col-md-6">
  <div class="single_causes">
  <h4>Web Development</h4>
  <img src="https://img.freepik.com/free-vector/hand-drawn-flat-design-api-illustration_23-2149365021.jpg?size=338&ext=jpg&ga=GA1.1.1141335507.1719100800&semt=ais_user" alt>
  <p>
      Helps you build a website  or an application for businees or  an application 
  .
  </p>
  </div>
  </div>
  </div>
  </div>
  </section>
  
  
  <section class="about_area section_gap_bottom">
  <div class="container">
  <div class="row">
  <div class="single_about row">
  <div class="col-lg-6 col-md-12 text-center about_left">
  <div class="about_thumb">
  <img src="https://media.istockphoto.com/id/1144645520/photo/busy-call-centre-in-operation.jpg?s=1024x1024&w=is&k=20&c=tKBJauX-gdduU3y5V3Bc5_6GpZqPEd-9J6P-aaG4Lhk=" class="img-fluid" alt>
  </div>
  </div>
  <div class="col-lg-6 col-md-12 about_right">
  <div class="about_content">
  <h2>
  We are nonprofit team <br>
  and work worldwide
  </h2>
  <p>
  Their multiply doesn't behold shall appear living heaven second
  roo lights. Itself hath thing for won't herb forth gathered good
  bear fowl kind give fly form winged for reason
  </p>
  <p>
  Land their given the seasons herb lights fowl beast whales it
  after multiply fifth under to it waters waters created heaven
  very fill agenc to. Dry creepeth subdue them kind night behold
  rule stars him grass waters our without
  </p>
  <a href="#" class="primary_btn">Learn more</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>