
<header class="header_area">
    <div class="main_menu">
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
    
    <a class="navbar-brand logo_h" href="index.html"><img src="" alt></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    
    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
    <ul class="nav navbar-nav menu_nav ml-auto">
    <li class="nav-item active"><a class="nav-link" href="" routerLink="">Home</a></li>
    <li class="nav-item"><a class="nav-link" href=""   routerLink="aboutpage" >About</a></li>
    <li class="nav-item"><a class="nav-link" href=" " routerLink="servicepage">Services</a>
    
    <li class="nav-item submenu dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
    <ul class="dropdown-menu">
    <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
    <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
    </ul>
    </li>
    <li class="nav-item"><a class="nav-link" href=" " routerLink="contactpage">Contact</a></li>
    </ul>
    </div>
    </div>
    </nav>
    </div>
    </div>
    </header>
    <pre>




        
    </pre>











<section class="features_causes">
    <div class="container">
    <div class="main_title">
    <h2>Why Choose Us</h2>
    <p>Design the Concept of your Business idea Now</p>
    </div>
    <div class="row">
    <div class="col-lg-4 col-md-6">
    <div class="card">
    <div class="card-body">
    <figure>
    <img class="card-img-top img-fluid" src="https://www.shutterstock.com/image-vector/light-bulb-electronics-new-electronic-600nw-1921894430.jpg">
    </figure>
    <div class="card_inner_body">
    <h4 class="card-title">Emerging Technology</h4>
    <p class="card-text">Our Promise to deliver you with latest technology that elevates your functionality and building your competitiveness
    </p>
    <div class="d-flex justify-content-between raised_goal">
    
    </div>
    <div class="d-flex justify-content-between donation align-items-center">
    <a href="#" class="primary_btn">for More</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="card">
    <div class="card-body">
    <figure>
    <img class="card-img-top img-fluid" src="https://img.lovepik.com/element/45006/9429.png_300.png" alt="Card image cap">
    </figure>
    <div class="card_inner_body">
    <h4 class="card-title">innovation Sloutions</h4>
    <p class="card-text">
        Formulating strategic solutions with latest frameworks with performed A/B Testing so you stay a head in market
    
    </p>
    <div class="d-flex justify-content-between raised_goal">
    
    
    </div>
    <div class="d-flex justify-content-between donation align-items-center">
    <a href="#" class="primary_btn">For More</a>
    
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="card">
    <div class="card-body">
    <figure>
    <img class="card-img-top img-fluid" src="https://www.shutterstock.com/image-vector/businessman-turning-cost-dial-low-600nw-2021923589.jpg" alt="Card image cap">
    </figure>
    <div class="card_inner_body">
    <h4 class="card-title">Cost Effective solutions</h4>
    <p class="card-text">
    Our commitment to ensure you to deliver Optimal value with cost Effective strategies that meet your choices and needs.
    </p>
    <div class="d-flex justify-content-between raised_goal">
    
    
    </div>
    <div class="d-flex justify-content-between donation align-items-center">
    <a href="#" class="primary_btn">For More</a>
    
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    
    
    
    
    
    <section class="team_area section_gap">
    <div class="container">
    <div class="main_title">
    <h2>Meet our Stuff</h2>
    <p>Creepeth called face upon face yielding midst is after moveth </p>
    </div>
    <div class="row team_inner">
    <div class="col-lg-3 col-md-6">
    <div class="team_item">
    <div class="team_img">
    <img class="img-fluid" src="https://ultrakeyit.com/wp-content/uploads/2024/02/Ramakrishna-Sir.jpg" alt>
    </div>
    <div class="team_name">
    <h4>B.Ramakrishna Reddy</h4>
    <p>Director, C.E.O</p>
    <p class="mt-20">
    So seed seed green that winged cattle in kath moved us land years living.
    </p>
    <div class="social">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#" class="active"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-envelope-o"></i></a>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-6">
    <div class="team_item">
    <div class="team_img">
    <img class="img-fluid" src="https://ultrakeyit.com/wp-content/uploads/2024/02/Anuradha.jpg" alt>
    </div>
    <div class="team_name">
    <h4>B.Anuradha</h4>
    <p>Managing Director</p>
    <p class="mt-20">
    So seed seed green that winged cattle in kath moved us land years living.
    </p>
    <div class="social">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#" class="active"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-envelope-o"></i></a>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-6">
    <div class="team_item">
    <div class="team_img">
    <img class="img-fluid" src="https://ultrakeyit.com/wp-content/uploads/2024/02/Subbareddy-1.jpg" alt>
    </div>
    <div class="team_name">
    <h4>Subbareddy Basani</h4>
    <p>HR</p>
    <p class="mt-20">
    So seed seed green that winged cattle in kath moved us land years living.
    </p>
    <div class="social">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#" class="active"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-envelope-o"></i></a>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-6">
    <div class="team_item">
    <div class="team_img">
    <img class="img-fluid" src="img/voluteer/v4.jpg" alt>
    </div>
    <div class="team_name">
    <h4>Adam Virland</h4>
    <p>Party Manager</p>
    <p class="mt-20">
    So seed seed green that winged cattle in kath moved us land years living.
    </p>
    <div class="social">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#" class="active"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-envelope-o"></i></a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>